body {
  background: #111;
  color: white;
  text-align: center;
  font-family: Arial;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.card {
  background: #222;
  padding: 10px;
  border-radius: 10px;
  width: 140px;
  cursor: pointer;
}

.card:hover {
  background: #333;
}

.card img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.player {
  margin-top: 20px;
}